#map-wrapper {
  height: 600px;
}

div.marker-text {
  padding: 2px;
  text-align: center;
  font-size: 10px;
}

.custom-icon {
  background-image: url('/theme/css/images/location-pin-2x-small-border.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px !important;
  width: 24px !important;
  margin-top: -15px !important;
  margin-left: -12px !important;
}

.custom-icon span {
  padding: 6px 0px 0px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 100%;
}

