#map-wrapper {
  height: 600px;
}

div.marker-text {
  padding: 2px;
  text-align: center;
  font-size: 10px;
}

.custom-icon {
  background-image: url('/theme/css/images/location-pin.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  height: 20px !important;
  width: 20px !important;
}

.custom-icon span {
  padding: 5px 0px 0px 7px;
  position: absolute;
  text-align: center;
  font-size: 6.5px;
  text-align: center;
  vertical-align: middle;
}

