@font-face {
    font-family: Nanami;
    src: url(../fonts/nanami/Nanami-Regular.otf);
}

@font-face {
    font-family: Nanami-Light;
    src: url(../fonts/nanami/Nanami-Light.otf);
}

@font-face {
    font-family: Nanami-Bold;
    src: url(../fonts/nanami/Nanami-Bold.otf);
}

h3 {
    font-family: 'Nanami-Bold', sans-serif;
    color: #591848;
}

h4 {
    font-family: Nanami-Light;
}

.texto-mapa-total {
    color: #AE2C80;
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    text-align: center;
}

.total {
    color: #AE2C80;
    font-family: 'Candal', sans-serif;
    font-size: 30px;
    text-align: center !important;
}
 .espacio-superior {
    padding-top: 10px;
 }

 .fuentes1 {
    display: block;
    width: 115px;
    height: 75px;
 }

 .fuentes2 {
    display: block;
    width: 180px;
    height: 70px;
 }

 .fuentes3 {
    display: block;
    width: 135px;
    height: 70px;
 }

 .fuentes4 {
    display: block;
    width: 135px;
    height: 70px;
 }

 .fuentes5 {
    display: block;
    width: 135px;
    height: 70px;
 }
/*landing page*/
.uk-section {
    padding-top: 10px;
    padding-bottom: 20px;
}

span, p {
    font-family: Nanami-Light;
    font-size: 1em;
}

a:hover {
    color: #000000;
}

.uk-card-body > .uk-link-reset {
    color: #AE2C80;
    font-family: 'Candal', sans-serif;
    font-size: 1em;
    text-decoration-color: #AE2C80;
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    font-family: 'Candal', sans-serif;
    font-size: 1rem;
    color: #591848;
}

.uk-offcanvas > .uk-offcanvas-bar > ul > li > a {
    font-family: 'Candal', sans-serif;
}

.uk-navbar-container {
    /*landing page*/
    /*height: 140px;*/
    height: 120px;
}

.uk-logo > img {
    margin: auto;
    max-width: 185px;
    margin-right: 15px;
}

h1 {
    color: #591848;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
}

h2 {
    color: #591848;
    font-family: 'Candal', sans-serif;
    font-size: 1.75em;
}

h3 {
    color: #591848;
    font-family: 'Nanami-Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

.uk-card-body > h3 {
    color: #591848;
    font-family: 'Nanami-Bold', sans-serif;
    font-size: 1.5rem;
    margin: 20px 0;
    text-align: center;
}

.uk-card > h5 {
    font-family: 'Candal', sans-serif;
    text-align: center;
}

.uk-card span {
    font-family: 'Nunito Sans', sans-serif;
}

.uk-background-cover > h3 {
    text-align: center;
}

.uk-background-cover > h4 {
    text-align: center;
}

.custom-button {
    border: 3px solid;
    font-family: 'Candal', sans-serif;
    font-size: 1.125em;
    text-transform: none;
}

@media only screen and (max-width: 1023px) {
    .custom-button {
        width: 100%;
    }

    h1 {
        font-size: 1.125em;
    }

    .uk-navbar-container {
        height: 80px;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
}

.red-button {
    border-color: #AE2C80;
    color: #AE2C80;
}

.white-button {
    background: transparent;
    border-color: #f8f8f8;
    color: #f8f8f8;
}

#redes-sociales {
    background-color: #AE2C80;
}

#redes-sociales h3 {
    color: #f8f8f8;
}

.uk-iconnav > * > * {
    color: #AE2C80;
}

#media-icon-bar {
    padding-top: 70px;
}

h5 {
    color: #AE2C80;
    font-family: 'Candal', sans-serif;
    font-size: 1.125em;
    text-align: center;
}

.uk-open > .uk-offcanvas-bar {
    background-color: #591848;
}

.copyright {
    color: #AE2C80;
}

.hero-mobile-image {
background-image: url("./images/hero-mobile-vivas.png");
}

#hero-mobile p {
    font-family: 'Candal', sans-serif;
    color: #FBD63F;
}
