{% extends "base.html" %}

{% block content %}
<section id="content">
  {% block content_title %}
  <h1 class="uk-heading">{{ category }}</h1>
  {% endblock %}

  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-flex-center" uk-grid>
    {% for article in articles_page.object_list %}
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <img alt="{{article.title}}" class="uk-border-rounded" width="100%" height="40" src="{{ SITEURL }}/theme/css/images/{{article.image}}">
        <h4>{{article.date.strftime("%d. %B %Y")}}</h4>
        <h3>{{article.title}}</h3>
        <h4>{{article.summary}}</h4>
        <h5><a class="uk-link-reset" href="{{article.url}}">Leer más</a></h5>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section>
{% endblock content %}
